@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
* {
  padding: none;
  margin: none;
  font-family: "Satisfy", cursive;
}
.main {
  background-image: url(../public/img/forest.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  padding: 2%;
  flex-direction: column;
  border: 3px solid white;
  box-shadow: 0 0 50px black;
}
.box-container p {
  text-align: left;
  margin: 0px;
  font-style: italic;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.185);
  font-family: "Rubik Distressed", cursive;
}
.box-container h1 {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.185);
  font-family: "Rubik Distressed", cursive;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0%;
  background: rgb(226, 226, 226);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .blong {
  width: 20%;
  float: left;
}
.header .blong a {
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-style: italic;
  font-weight: 600;
  color: black;
  font-size: 30px;
}

.header nav {
  width: 50%;
  float: right;
  display: flex;
  justify-content: flex-end;
}
.header nav a {
  padding: 0% 2%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-style: italic;
  font-family: "Dancing Script", cursive;
}
.header nav a:last-child {
  padding-right: 0px;
}
.about {
  height: 85vh;
}
.about h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
}
.box-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-about div:first-child {
  width: 40%;
  float: left;
}
.box-about .title-about {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}
.box-about p {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
  text-align: justify;
  line-height: 30px;
}
.box-about div:last-child {
  width: 20%;
  float: right;
  margin-left: 10%;
}
.box-about div:last-child img {
  width: 100%;
  object-fit: cover;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin-bottom: 100px;
}
.exp {
  height: 120vh;
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
}
.box-exp {
  width: 70%;
  margin: 7% 15%;
}
.box-exp hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin-bottom: 50px;
}
.box-exp h1 {
  margin-bottom: 7%;
}
.box-exp h2 {
  margin-bottom: 50px;
}
.box-exp p {
  line-height: 30px;
  text-align: justify;
  padding-bottom: 10px;
  font-style: italic;
  font-size: 18px;
}
.box-exp section h2 {
  margin-top: 10%;
}
.box-exp section div p {
  float: left;
  width: 30%;
  margin: 0;
}
.box-exp section div div {
  float: left;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.box-exp section div div p {
  float: left;
  width: 70%;
  text-align: left;
}
.box-exp section div {
  margin-bottom: 4%;
}
.main-2 {
  background-image: url(../public/img/forestblack.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.Gallery-box {
  height: 100vh;
}
.container-box-gallery {
  display: flex;
  flex-direction: row;
  position: relative;
}
.container-box-gallery div {
  margin-left: 20px;
  height: 120px;
  width: 13%;
}
.container-box-gallery img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}
.container-box-gallery img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
.img-click {
height: 100vh !important;
width: 100% !important;
  background-color: rgba(243, 243, 243, 0.322);
  position: absolute !important ;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0 !important;
}
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-click img {
  height: auto;
  width: 90%;

}
